.App {
  text-align: center;
  background-color: #fcd8a8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 10px;
  height: auto;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

td {
  margin: 0;
  padding: 0;
}

tr {
  margin: 0;
  padding: 0;
  line-height: 10px;
}

button {
  width: 100px;
  margin-top: 20px;
}